body {
	overflow: hidden;
	color: #333333;
	background-color: #FFFFFF;
	font-family: "Open Sans", Arial, sans-serif;
}
h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
}
h2 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
}
h3 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
}
h4 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
}
h5 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
}
h6 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: bold;
}
p {
	font-family: 'Roboto', sans-serif;
}
